# https://raw.githubusercontent.com/ansible/ansible/devel/examples/ansible.cfg

[defaults]
host_key_checking = False
transport = paramiko

# additional paths to search for roles in, colon separated
#roles_path   = /etc/ansible/roles
roles_path    = /tmp/postcfg/roles:/tmp/postcfg/roles.dh-utils

# logging is off by default unless this path is defined
# if so defined, consider logrotate
log_path = /var/log/ansible/ansible.log

# set plugin path directories here, separate with colons
#action_plugins     = /usr/share/ansible/plugins/action
#callback_plugins   = /usr/share/ansible/plugins/callback
#connection_plugins = /usr/share/ansible/plugins/connection
#lookup_plugins     = /usr/share/ansible/plugins/lookup
#vars_plugins       = /usr/share/ansible/plugins/vars
#filter_plugins     = /usr/share/ansible/plugins/filter
#test_plugins       = /usr/share/ansible/plugins/test
#strategy_plugins   = /usr/share/ansible/plugins/strategy

# by default callbacks are not loaded for /bin/ansible, enable this if you
# want, for example, a notification or logging callback to also apply to
# /bin/ansible runs
#bin_ansible_callbacks = False
